<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Add Trip</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group mb-3">
            <label class="form-label" for="code">Code:</label>
            <input id="code" type="text" formControlName="code" placeholder="Code"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" />
            @if (submitted && f['code'].errors) {
                <div class="invalid-feedback">Trip Code is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="name">Name:</label>
            <input id="name" type="text" formControlName="name" placeholder="Name"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            @if (submitted && f['name'].errors) {
                <div class="invalid-feedback">Name is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="length">Length:</label>
            <input id="length" type="text" formControlName="length" placeholder="Length"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['length'].errors }" />
            @if (submitted && f['length'].errors) {
                <div class="invalid-feedback">Length is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="start">Start:</label>
            <input id="start" type="text" formControlName="start" placeholder="Start"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['start'].errors }" />
            @if (submitted && f['start'].errors) {
                <div class="invalid-feedback">Start is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="resort">Resort:</label>
            <input id="resort" type="text" formControlName="resort" placeholder="Resort"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['resort'].errors }" />
            @if (submitted && f['resort'].errors) {
                <div class="invalid-feedback">Resort is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="perPerson">Per Person:</label>
            <input id="perPerson" type="text" formControlName="perPerson" placeholder="Per Person"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['perPerson'].errors }" />
            @if (submitted && f['perPerson'].errors) {
                <div class="invalid-feedback">Per Person price is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="image">Image Path:</label>
            <input id="image" type="text" formControlName="image" placeholder="Image Filename"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['image'].errors }" />
            @if (submitted && f['image'].errors) {
                <div class="invalid-feedback">Image path is required</div>
            }
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="description">Description:</label>
            <textarea id="description" rows="4" formControlName="description" placeholder="Description"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
            @if (submitted && f['description'].errors) {
                <div class="invalid-feedback">Description is required</div>
            }
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Save Trip</button>
        </div>
    </form>
</div>
